.blog-content h1 {
  @apply text-3xl md:text-4xl font-extrabold leading-tight mt-8 mb-4;
}

.blog-content h2 {
  @apply text-2xl md:text-3xl font-bold leading-snug mt-5 md:mt-7 mb-1 md:mb-3;
}

.blog-content h3 {
  @apply text-xl md:text-2xl font-semibold leading-snug mt-4 md:mt-6 mb-1 md:mb-3;
}

.blog-content h4 {
  @apply text-lg md:text-xl font-medium leading-normal mt-3 md:mt-5 mb-[2px] md:mb-2;
}

.blog-content h5 {
  @apply text-base md:text-lg font-medium leading-normal mt-2 md:mt-4 mb-[2px] md:mb-2;
}

.blog-content h6 {
  @apply text-base font-medium leading-normal mt-1 md:mt-3 mb-[2px] md:mb-2;
}

/* Lists */
.blog-content ul {
  @apply list-disc pl-6 py-3 md:my-4 space-y-[2px] md:space-y-2;
}

.blog-content ol {
  @apply list-decimal pl-6 py-3 md:my-4 space-y-1 md:space-y-2;
}

.blog-content li {
  @apply leading-relaxed;
}
