

h1 {
  @apply text-4xl font-bold leading-tight mt-8 mb-4;
}

h2 {
  @apply text-3xl font-semibold leading-snug mt-7 mb-3;
}

h3 {
  @apply text-2xl font-semibold leading-snug mt-6 mb-3;
}

h4 {
  @apply text-xl font-medium leading-normal mt-5 mb-2;
}

h5 {
  @apply text-lg font-medium leading-normal mt-4 mb-2;
}

h6 {
  @apply text-base font-medium leading-normal text-gray-600 mt-3 mb-2;
}

/* Start List Style */

/* Unordered List */
ul {
  @apply list-disc pl-6 my-4 space-y-2;
}

/* Ordered List */
ol {
  @apply list-decimal pl-6 my-4 space-y-2;
}

/* List items */
li {
  @apply leading-relaxed;
}

/* End List Style */